$small-screen-max-width: 800px;
$medium-screen-max-width: 1200px;

$monospace-font: "Fira Mono", "Andale Mono", "Consolas", "Courier New", Courier, monospace;
$system-font: system-ui, Roboto, Helvetica Neue, Helvetica, sans-serif;
