@mixin hover-fill($color1, $color2) {
  background-image: linear-gradient(to left, $color1 50%, $color2 50%);
  background-size: 200% 100%;
  background-position: right bottom;

  transition-property: background-position;

  &:hover {
    background-position: left bottom;
  }
}
