.prefix-bar {
  background-color: #f5f5f5;
  padding: 12px 100px;
  padding: 12px var(--sides-space);

  font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0; /* to hide whitespaces */

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;

    color: #333;
    font-size: 13px;

    &:not(:first-of-type):before {
      display: inline-block;
      margin: 0 8px;
      content: '»';

      color: #aaa;
    }
  }

  a:hover {
    text-decoration: underline currentColor;
  }
}
