@import "./common-styles/constants.scss";
@import "./common-styles/normalize.scss";


$accent-color: #49b;


:root {
  --side-padding: 16vw;

  @media only screen and (max-width: $small-screen-max-width) {
    --side-padding: 20px;
  }
}

html {
  color: #3a3a3a;
  font-family: $system-font;
}

header {
  padding: 25px 8vw;
}

.title {
  img {
    width: 50px;
    margin-right: 20px;
  }

  h2 {
    display: inline-block;

    position: relative;
    bottom: 14px;

    font-size: 1.6rem;
    font-weight: 500;
  }
}

.package-name {
  background-color: $accent-color;

  padding: 30px var(--side-padding);

  color: #fff;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  ul {

  }

  li {
    display: inline-block;

    font-family: $monospace-font;
    font-size: 0.8rem;

    &:not(:last-of-type):after {
      content: ' • ';
    }
  }
}

nav {
  padding: 0 var(--side-padding);
  
  // border-bottom: 3px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(#000, 0.2);

  ul {
    display: flex;
  }

  li {
    flex-grow: 1;

    text-align: center;

    a {
      display: block;
      padding: 20px 0;

      transition: background-color 300ms;

      font-size: 0.9rem;
      font-weight: 600;

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.contents {
  padding: 0 var(--side-padding) 60px var(--side-padding);

  a {
    color: $accent-color;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.8em 0 0.4em 0;

    text-transform: lowercase;
  }

  h1 {
    color: darken($accent-color, 10%);
    font-size: 2.2rem;
  }

  blockquote {
    border-left: 5px solid #cfcfcf;

    margin: 0;
    padding: 0.8em 0 0.8em 20px;
  }

  code, pre {
    background-color: #eee;

    font-family: $monospace-font;
    font-size: 0.9rem;
  }

  code {
    border-radius: 3px;

    padding: 0.1em 0.2em;
  }

  pre {
    border-radius: 5px;
    overflow-x: auto;

    padding: 1.3em 1.5em;
  }

  ul {
    margin-left: 20px;
  }


  li {
    list-style-type: disc;

    line-height: 1.4em;

    &:not(:last-of-type) {
      margin-bottom: 0.2em;
    }

    li {
      list-style-type: circle;
    }
  }

  blockquote, p, pre, table {
    margin: 1em 0;

    line-height: 1.4em;
  }

  table {
    border-collapse: collapse;
  }

  th {
    background-color: #eaeaea;
  }

  td, th {
    border: 1px solid #ccc;

    padding: 0.5em;
  }
}

footer {
  background-color: #eee;

  padding: 30px 16vw;

  text-align: center;

  a {
    color: #666;
    font-size: 0.9rem;
    font-weight: 600;
  }
}


