<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="#" class="title">
        <img src="logo.svg">
        <h2>Projects</h2>
      </a>
    </header>
    <section class="package-name">
      <h1>{{project-name}}</h1>
      <ul>
        <li>commit {{commit-number}}</li>
      </ul>
    </section>
    <nav>
      <ul>
        <li><a href="{{repo-url}}">repository</a></li>
        <li><a href="{{downloads-url}}">downloads</a></li>
        <li><a href="{{license-url}}">license</a></li>
      </ul>
    </nav>
    <section class="contents">
      {{contents}}
    </section>
    <footer>
      <a href="#">xn--ndc.com</a>
    </footer>
  </body>
</html>

